form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.title{
    padding-left: 40%;
}

i{
    color: rgb(241, 35, 8);
    
}

.radio{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.radio1{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 10px;
}

.radio2{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 10px;
}
.radio3{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 10px;
}
